.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.card {
  cursor: pointer;
}

.card-text {
  font-size: 14px;
  line-height: 1.5;
}

.card-text p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-text p.collapsing {
    min-height: 42px !important;
}

.card-text a.collapsed:after  {
    content: '+ Read More';
}

.card-text a:not(.collapsed):after {
    content: '- Read Less';
}
