{% load static %}
{% load utils %}
{% load humanize %}

<div class="card comment">
  {% if comment.title %}
    <div class="card-header">
      {{comment.title}}
    </div>
  {% endif %}
  <div class="card-body">
    <div class="d-flex">
      <h5 class="card-title p-2">{{comment.user.username}}</h5>
      <p class="card-text p-2">
          <input class="existing-rating rating rating-loading"
                 value="{{comment.rating}}" data-min="0" data-max="10" data-step="0.5">
        <span>Rating: {{comment.rating|floatformat:"-1"}}/10</span>
      </p>
    </div>
    <p class="card-text">{{comment.text|striptags}}</p>
    <div class="card-text">
      <small class="text-muted">{{comment.created|elapsed:"M jS, Y"}}</small>
    </div>
  </div>
  {%if include_moviedb_info %}
  <div class="card-footer text-muted">
      <a class="text-muted"
         href="{% url 'details' type=comment.moviedb.type id=comment.moviedb.moviedb_id %}">
         {{comment.moviedb}}
      </a>
  </div>
  <br>
  {% endif %}
</div>
