.card.details, .row.seasons > .col-md-2 > .card, .card.comment {
  border: none;
  cursor: unset;
}


.comment-textbox {
  border: 2px solid grey;
  border-radius: 2px;
}

.no-comments {
  font-size: 24px;
}


.user_name{
    font-size:14px;
    font-weight: bold;
}
.comments-list .media{
    border-bottom: 1px dotted #ccc;
}

.card-text > .rating-container {
    margin-top: -15px !important;
}

.card-text > .rating-container .rating-stars{
  cursor: unset;
}

.page-title {
  display: inline;
}

.heart-circle {
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 50%;
    display: inline-block;
    width: 46px;
    height: 46px;
    padding-right: 2px;
    cursor: pointer;

    border-color: grey;
    background: grey;
    color: white;
}


.heart-circle:hover {
  border-color: red;
  background: white;
  color: red;
}

.heart-circle.favorited {
  border-color: red;
  background: white;
  color: red;
}

.heart-circle.favorited:hover {
  border-color: grey;
  background: grey;
  color: white;
}

.heart-circle > .fa {
  margin-left: 5px;
  margin-top: 7px;
}


#commentTextarea {
  min-height: 80px;
  color: #000;
}
#commentTextarea a {
  text-decoration: none;
  font-weight: normal;
  color: #181818;
}
.dropdown-menu .textcomplete-item a,
.dropdown-menu .textcomplete-item a:hover {
  cursor: pointer;
  font-weight: normal;
  color: #000;
  position: relative;
  padding: 3px 10px;
}
.dropdown-menu .textcomplete-item.active a {
  background: #F0F0F0;
}
/* Highlighting of the matching part
   of each search result */
.dropdown-menu .textcomplete-item a em {
  font-style: normal;
  font-weight: bold;
}
.dropdown-menu .textcomplete-footer {
  border-top: solid 1px #F0F0F0;
  margin-top: 3px;
}
